<div class="">
    <div *ngIf="passwordResetSuccess" class="alert alert-success" role="alert">
        Please check your email. Help is on the way.
    </div>
    <div class="">
        <img src={{tenantLogoUrl}} class="" alt="{{tenantName}}" />
    </div>
    <h4 class=""><strong>Account Recovery</strong></h4>
    <p class="">Enter your email id to which password reset link needs to be send to.</p>
    <div *ngIf="passwordResetFailureMessage.length>0" class="alert alert-danger" role="alert">
        <p>{{passwordResetFailureMessage}}</p>
    </div>

    <!-- ++++++++++++ form begin +++++++++++++ -->
    <form class="form-group" [formGroup]="form" (ngSubmit)="forgotPassword()">
        <div class="form-field">
            <label for="email">Your Email</label>
            <input type="email" name="email" id="email" aria-placeholder="Your email" placeholder="example@domain.com"
                formControlName="email">
            <div *ngIf="submitted && formControl().email.errors && formControl().email.errors.required"
                class="alert alert-danger" role="alert">Email is
                required!</div>
            <div *ngIf="submitted && formControl().email.errors && formControl().email.errors.email"
                class="alert alert-danger" role="alert">Please enter
                a valid e-mail address!</div>
        </div>
        <button class="">SEND PASSWORD RESET LINK</button>
    </form>
    <div class="row">
        <div class="col-xs-6">
            Back to <a class="" routerLink="/login">Login</a>
        </div>
    </div>
    <!-- ++++++++++++ form end +++++++++++++ -->
</div>