<?xml version="1.0" encoding="utf-8"?>
<configuration>  
  <location allowOverride="true">
    <system.webServer>          
      <rewrite>
        <rules>
          <rule name="AngularJS Routes" stopProcessing="true">
            <match url=".*" />
            <conditions logicalGrouping="MatchAll">
              <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
              <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            </conditions>
            <action type="Rewrite" url="/adminrevamp/" />
          </rule>
        </rules>
      </rewrite> 
      <httpProtocol>
          <customHeaders>
              <remove name="Content-Security-Policy" />
              <add name="Content-Security-Policy" value="default-src 'self' https://dc.services.visualstudio.com/v2/track ; script-src 'self' https://az416426.vo.msecnd.net/scripts/a/ai.0.js ; style-src 'self' ;img-src *; font-src 'self'; frame-src 'self'" />
          </customHeaders>
      </httpProtocol>     
    </system.webServer>
  </location>
</configuration>
